.planTrip {
    padding: 1rem;
    top: 60px;
}

.planTrip h2 {
    font-size: 1rem;
}

input [type="from"]{
    display: block;
    width: 400%;
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #9CCC65;
    border: 1px solid #ced4da;
}

input [type="to"]{
    display: block;
    width: 570%;
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #9CCC65;
    border: 1px solid #ced4da;
}

input[type="submit"] {
    text-align: left;
    background-color:#9CCC65;
    border-color: #9CCC65;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    margin: 10px 0 5px 0;
    padding: 0.3rem 1rem 0.5rem 0.1rem;
}